<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="LDSTorrents" 
        connectionString="Data Source=tcp:s09.winhost.com;Initial Catalog=DB_20086_ldstorrents;User ID=DB_20086_ldstorrents_user;Password=231kiuxGHXor;Integrated Security=False;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>